@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
.heading{
    height: 20%;
    padding: 3rem 4rem;
}
.wrapper{
    position: relative;
    top: -84px;
}
#card{
    width:50%;
    height: 70vh;
    border-radius: 8px;
    margin: 40px auto;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.25), 
                0px 3px 14px 0px rgba(0, 0, 0, 0.25),
                0px 8px 32px 0px rgba(0, 0, 0, 0.25),
                0px 30px 84px 0px rgba(0, 0, 0, 0.25);
}
.option{
    border-radius: 8px;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 14px;
}
.head a{
    color:rgba(156, 39, 176, 1);
    text-decoration: none;
}
.head a:visited {
    color:rgba(156, 39, 176, 1);
    text-decoration: none;
  }
  
  /* mouse over link */
.head a:hover {
    color:rgba(156, 39, 176, 1);
    text-decoration: none;
  }
  
  /* selected link */
.head a:active {
    color:rgba(156, 39, 176, 1);
    text-decoration: none;
  }
.sub{
    font-size: 12px;
}
.form-flexible{
    padding-left: 91px;
    padding-right: 141px;
}
.text{
    font-size: 18px;
    font-weight: 600;
    margin-bottom:21px;
}
.input{
    width:100%;
    border-radius: 8px;
    padding-top:22px;
    padding-bottom:22px;
    padding-left: 7px;
    font-size: 16px;
    border: 1px solid rgba(196, 196, 196, 1);
    margin-bottom: 36px;
}
input[type=radio] {
    border: 0px;
    width: 2em;
    height: 2em;
}
input[type="radio"]:checked {
    background-color: #9C27B0;
}
.radio{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 13px;
}
.radio span{
    margin-top: 3px;
    margin-left: 13px;
}
#flexible_btn{
    width: 780px;
    padding-left: 50px;
    padding-right: 50px;
    justify-content: space-between;
}
.btn_flex{
    padding: 14px 106px;
    border-radius: 5px;
    font-size: 20px;
}
#btn_1{
    color: rgba(156, 39, 176, 1);
    text-align: center;
    text-decoration: none;
    border: 1px solid rgba(156, 39, 176, 1);
}
#btn_2{
    background: rgba(156, 39, 176, 1);
    text-align: center;
    color: white;
    text-decoration: none;
}

@media screen and (max-width: 768px){
    #card{
        width: 80%;
    }
    .form-flexible{
        padding: 20px;
    }
    .text{
        font-size: 15px;
        margin-bottom: 10px;
    }
    .input{
        padding-top: 10px;
        padding-bottom: 10px;
        width: 100%;
        border-radius: 4px;
        margin-bottom: 20px;
    }
    .radio{
        margin-bottom: 8px;
    }
    #flexible_btn{
        width: 70%;
        padding: 10px;
    }
    .btn_flex {
        padding: 7px 28px;
        border-radius: 5px;
        font-size: 18px;
    }
}